{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block main %}

<h2>Liste des catégories</h2>

<div class="categoriesListContainer">

  {% for category in categories %}
    <div>
      <li>Id : {{ category.id }}</li>
    </div>
    <div>
        <li>Nom : {{ category.name }}</li>
    </div>
    <div>
      <button type="submit"><a href="{{ path('app_admin_category_update', {'id': category.id}) }}">Modifier ou Supprimer</a></button>
    </div>
    {% endfor %}

</div>

<button><a href="{{ path('app_admin_category_addNew') }}">Ajouter une nouvelle catégorie</a></button>

<a href="{{ path('app_admin_index') }}">Retour à l'accueil</a>


{% endblock %}